@import url(./checkbox/checkbox.css);

.history-item {
    width: 100%;
	display: flex;
	margin: 0 0 19px 9px;
}

.history-item__checkbox-container {
    display: inline-flex;
    width: 58px;
    justify-content: space-between;
}

.history-item__content {
	flex-grow: 1;
	margin-left: 46px;
}

.history-item__heading {
    font-size: 24px;
    line-height: 28px;
    font-family: Rubik;
}

.history-item__wrapper {
    display: flex;
    align-items: flex-end;
}

.history-item__wrapper .link:nth-child(2) {
    margin-left: 8px;
}

.history-item__wrapper .link:nth-child(3) {
    margin-left: auto;
}

.history-item__date {
    font-family: Rubik;
    font-style: italic;
    font-size: 16px;
    line-height: 25px;
    color: #3A3A3A;
    margin-left: 13px;
}

.history-item__message {
	max-width: 620px;
	margin: 6px 0 0 0;
	font-family: Rubik;
	font-size: 16px;
	line-height: 25px;
}