.radio {
	height: 25px;
}

.radio input[type='radio'] {
	display: none;
}

.radio__custom-radio {
	transition: 0.1s;
}

.radio_history .radio__custom-radio {
	box-sizing: border-box;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	border: 4px solid #99CDF3;
}

.radio input[type='radio']:checked + .radio__custom-radio {
	border-color: #1F72AD;
	background-color: #1F72AD;
}

.radio__custom-radio_hidden {
	visibility: hidden;
}
