@media screen and (max-width: 1456px) {
    .header {
        width: 1160px;
    }

    .main {
        width: 1160px;
    }

    .user-account-button {
        width: 200px;
    }

    .account-menu {
        width: 200px;
    }

    .user-account-button__name {
        left: -29px;
    }

    .user-account-button__icon {
        left: 44px;
    }

    .control-buttons {
        right: 44px;
    }
}

@media screen and (max-width: 1170px) {
    .navigation-menu {
        display: none;
    }

    .main {
        width: 840px;
    }

    .control-buttons {
        right: 22px;
    }

    .content {
        margin-left: 0;
    }

    .header {
        width: 840px;
    }

    .user-account-button {
        width: 50px;
        border: none;
    }

    .header__user-account-button {
        bottom: 0;
        margin-right: 0;
    }

    .user-account-button__name {
        display: none;
    }

    .user-account-button__icon {
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
    }

    .account-menu {
        right: 62px;
    }

    .header__site-logo {
        margin-left: 0;
    }

    .search-form {
        width: 400px;
    }

    .header__search-form {
        margin: 0 0 0 45px;
    }

    .navigation-menu-button {
        margin: 0 7px 0 5px;
        display: inline-flex;
    }
}

@media screen and (max-width: 929px) {
    .header {
        width: 720px;
    }

    .search-form {
        width: 340px;
    }

    .header__search-form {
        margin-left: 23px;
        display: inline-block;
    }

    .navigation-menu-button {
        margin-right: 0;
    }

    .main {
        width: 720px;
    }

    .account-menu {
        right: 55px;
    }

    .content {
        width: 100%;
    }

    .menu {
        right: 12px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        width: auto;
    }

    .search-form {
        width: auto;
        flex-grow: 1;
        display: none;
    }

    .header__search-form {
        margin: 0 0 0 15px;
    }

    .mobile-search-button {
        display: inline-block;
    }

    .search-form__submit-button {
        border-radius: 50%;
    }

    .header__site-logo {
        margin-left: 10px;
    }

    .header__user-account-button {
        margin: 0 0 0 15px;
    }

    .main {
        width: auto;
    }

    .vue-app__main {
        margin: 0 20px 0 20px;
    }
}

@media screen and (max-width: 665px) {
    .person-card-wrapper {
        width: 443px;
        float: none;
        margin: 0 auto;
    }

    .person-card-front,
    .person-card-back {
        margin: 30px 0 40px 0;
    }

    .control-buttons {
        top: 33px;
    }

    .vue-app__mobile-build-tree-button {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .person-card-wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 424px) {
    .site-logo__name {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .content h1 {
        font-size: 16vw;
    }

    .image_right {
        width: 100%;
    }

    .image_left {
        width: 100%;
    }

    .image_center_medium {
        width: 100%;
    }
}