.checkbox {
	display: inline-block;
	height: 15px;
	width: 15px;
}

.checkbox input[type='checkbox'] {
	display: none;
}

.checkbox .checkbox__custom-checkbox {
	box-sizing: border-box;
	border-radius: 5px;
	height: 17px;
	width: 17px;
	border: 2px solid #41B883;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0px 2px;
}

.checkbox input[type='checkbox']:checked + .checkbox__custom-checkbox {
	background-image: url(../../../../images/checkbox__active.svg);
	background-color: #41B883;
}

.checkbox__custom-checkbox_hidden {
	visibility: hidden;
}

.person-card-back__checkbox_death {
	position: absolute;
	right: 8px;
	top: 318px;
}