.family-member {
	height: 50px;
	width: 100%;
	border: 1px solid #BBBBBB;
	display: flex;
	align-items: center;
}

.family-member:nth-child(even) {
	background-color: #F1F1F1;
}

.family-member:not(:last-child) {
	border-bottom: none;
}

.family-member:first-child {
	border-radius: 12.5px 12.5px 0 0;
}

.family-member:last-child {
	border-radius: 0 0 12.5px 12.5px;
}

.family-member__button {
	width: 14px;
	height: 14px;
	padding: 0;
	margin: 0;
	border: none;
	cursor: pointer;
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
}

.family-member__name {
	display: inline-block;
	width: 95px;
	margin: 0 10px;
	font-family: Rubik;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
}

.family-member__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.family-member__wrapper:last-child {
	justify-content: space-around;
}

.family-member__date {
	font-family: Montserrat;
	font-size: 10px;
	line-height: 12px;
}

.family-member__button_edit {
	background-image: url(../../../../../../../images/edit-button-image.svg);
}

.family-member__button_delete {
	background-image: url(../../../../../../../images/delete-button-image.svg);
}
