.tree-navigation-list {
    padding: 0;
}

.tree-navigation-list__link {
    text-decoration: none;
    background-color: #fbfbfb;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Rubik;
    font-weight: 400;
    height: 16px;
    padding: 0px;
}

.tree-navigation-list__item {
    height: 16px;
    list-style-type: none;
    margin: 0 0 18px 0;
}


.tree-navigation-list__link {
    color: #006c40;
}

.navigation-menu__tree-navigation-list {
    margin: 0 0 27px 0;
}