@import url(./control-buttons/control-buttons.css);
@import url(./person-card-wrapper/person-card-wrapper.css);
@import url(./table-of-contents/table-of-contents.css);
@import url(./image/image.css);
@import url(./gallery/gallery.css);
@import url(./input-form/input-form.css);
@import url(./history/history.css);
@import url(./link/link.css);
@import url(./revision/revision.css);
@import url(./item-heading/item-heading.css);
@import url(./search-list/search-list.css);

.content {
    width: 832px;
    height: 100%;
    padding: 35px 0 0 0;
}

.main__content {
    margin: 0 0 50px 111px;
}

.h1 {
    margin: 0 0 12px 0;
    font-size: 64px;
    line-height: 79px;
    font-weight: 100;
    font-stretch: ultra-condensed;
    font-family: Montserrat;
}

.h1_narrow {
    font-weight: 100;
}

.h2 {
    margin: 0 0 23px 0;
    font-size: 36px;
    line-height: 50px;
    font-family: Montserrat;
    font-weight: 300;
}

.h3 {
    margin: 0 0 23px 0;
    font-size: 24px;
    line-height: 29px;
    font-family: Rubik;
    font-weight: 500;
}

.content_paragraph {
    margin: 0 0 23px 0;
    font-family: Rubik;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.content__history_controls_container {
    margin-top: 20px;
    display: flex;
}