.compare-part {
	width: 406px;
	padding: 19px 28px;
	border-radius: 25px;
	font-family: "Roboto Mono";
	font-size: 16px;
	line-height: 24px;
	box-sizing: border-box;
}

.compare-part_deleted {
	border: 1px solid #FFB8B8;
}

.compare-part_added {
	border: 1px solid #66DCAC;
}

.compare-part__difference_deleted {
	background-color: #FFB8B8;
}

.compare-part__difference_added {
	background-color: #66DCAC;
}