@import url(./site-logo/site-logo.css);
@import url(./search-form/search-form.css);
@import url(./mobile-search-button/mobile-search-button.css);
@import url(./user-account-button/user-account-button.css);
@import url(./navigation-menu-button/navigation-menu-button.css);
@import url(./account-menu/account-menu.css);
@import url(./menu-item/menu-item.css);
@import url(./menu-subitem/menu-subitem.css);
@import url(./mobile-navigation-menu/mobile-navigation-menu.css);

html,
body {
    margin: 0;
    padding: 0;
    background-color: #fbfbfb;
}

button,
button:active,
button:focus,
input,
input:active,
input:focus {
    outline: none;
}

.header {
    width: 1440px;
    height: 78px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.vue-app__header {
    margin: 0 auto;
}