.item-heading {
    font-size: 24px;
    line-height: 28px;
    font-family: Rubik;
    margin: 0;
}

.search-item__item-heading {
	margin: 0 0 4px 0;
}

.item-heading_green {
	color: #006C40;
}

.revision__item-heading {
	margin: 0 0 14px 0;
}