.content__control-buttons {
    position: absolute;
    right: 304px;
    top: 53px;
    z-index: 5;
}

.content__control-buttons {
    position: absolute;
    right: 304px;
    top: 53px;
    z-index: 5;
}

.control-buttons__button {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 0;
    cursor: pointer;
    background-color: #fbfbfb;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
}

.control-buttons__button_edit {
    background-image: url(../../../../images/edit-button-image.svg);
}

.control-buttons__button_link {
    background-image: url(../../../../images/link-button-image.svg);
    margin: 0 7px 0 7px;
}

.control-buttons__button_history {
    background-image: url(../../../../images/changes-history-button-image.svg);
}