.mobile-build-tree-button {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: white;
    background-image: url(../../images/Logo.svg);
    background-position: 47% 50%;
    background-size: 65%;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
}

.vue-app__mobile-build-tree-button {
    position: fixed;
    bottom: 20px;
    left: calc(50% - 33px);
    display: none;
}