.mobile-navigation-menu {
    width: 260px;
    overflow: hidden;
}

.header__mobile-navigation-menu {
    position: absolute;
    top: 90px;
    right: 0px;
}

.mobile-navigation-menu_active {
    z-index: 8;
}

.mobile-navigation-menu,
.mobile-navigation-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-navigation-menu>.menu-item:nth-child(1) {
    border-radius: 25px 25px 0 0;
}

.mobile-navigation-menu>.menu-item:nth-child(5) {
    position: relative;
    bottom: 1px;
    border-radius: 0 0 25px 25px;
}

.mobile-navigation-menu>.menu-item:nth-child(5) {
    bottom: 121px;
}

.mobile-navigation-menu .menu-subitem:nth-child(2) {
    bottom: 40px;
}

.mobile-navigation-menu .menu-subitem:nth-child(3) {
    bottom: 80px;
}

.mobile-navigation-menu .menu-subitem:nth-child(4) {
    bottom: 120px;
}

.mobile-navigation-menu .menu-subitem:nth-child(6) {
    bottom: 171px
}

.mobile-navigation-menu .menu-subitem:nth-child(7) {
    bottom: 211px;
}

.mobile-navigation-menu .menu-subitem:nth-child(8) {
    bottom: 251px;
}
.mobile-navigation-menu>.menu-item,
.mobile-navigation-menu>.menu-subitem {
    transition: left 0.1s ease-in-out, bottom 0.1s ease-in-out;
    position: relative;
    left: 100%;
}

.mobile-navigation-menu_active>.menu-item,
.mobile-navigation-menu_active>.menu-subitem {
    left: 0;
}

.mobile-navigation-menu_active_create .menu-subitem:nth-child(2) {
    bottom: 1px;
}

.mobile-navigation-menu_active_create .menu-subitem:nth-child(3) {
    bottom: 2px;
}

.mobile-navigation-menu_active_create .menu-subitem:nth-child(4) {
    bottom: 3px;
}

.mobile-navigation-menu_active_create .menu-item:nth-child(5),
.mobile-navigation-menu_active_browse .menu-item:nth-child(5) {
    bottom: 4px;
}

.mobile-navigation-menu_active_create .menu-subitem:nth-child(6) {
    bottom: 50px;
}

.mobile-navigation-menu_active_create .menu-subitem:nth-child(7) {
    bottom: 90px;
}

.mobile-navigation-menu_active_create .menu-subitem:nth-child(8) {
    bottom: 130px;
}

.mobile-navigation-menu_active_browse .menu-subitem:nth-child(6) {
    bottom: 171px;
}

.mobile-navigation-menu_active_browse .menu-subitem:nth-child(7) {
    bottom: 172px;
}

.mobile-navigation-menu_active_browse .menu-subitem:nth-child(8) {
    bottom: 173px;
}