.user-account-button {
    padding: 0;
    margin: 0;
    border: 1px solid #bbbbbb;
    background-color: white;
    border-radius: 25px;
    height: 50px;
    width: 264px;
    flex-shrink: 0;
    cursor: pointer;
}

.header__user-account-button {
    display: inline-block;
    position: relative;
    margin: 0 20px 0 auto;
    z-index: 5;
}

.user-account-button:focus {
    outline: none;
}

.user-account-button__icon {
    background-color: red;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    left: 77px;
    top: 2px;
}

.user-account-button__name {
    position: relative;
    right: 61px;
    bottom: 9px;
    color: #000000;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}