.add-button_wrapper {
	display: flex;
	align-items: center;
	margin-top: 2px;
	cursor: pointer;
}

.add-button-wrapper__name {
	margin: 0 4px;
	font-family: Montserrat;
	font-size: 10px;
	line-height: 15px;
}

.add-button-wrapper__button {
	width: 15px;
	height: 15px;
	border-radius: 25px;
	border: none;
	background-color: #41B883;
	background-image: url(../../../../../../images/plus.svg);
	background-repeat: no-repeat;
	background-position: 2px 2px;
	position: relative;
	margin-left: -18px;
	cursor: pointer;
}

.add-button-wrapper__name {
	color: #666666;
	letter-spacing: 1px;
}

.add-button-wrapper__name_light {
	color: #DDDDDD;
}