@import url('https://fonts.googleapis.com/css?family=Adamina|Montserrat|Rubik');

html, body {
	margin: 0;
	padding: 0;
	background-color: #fbfbfb;
}

header {
	max-height: 78px;
	width: 100%;
	box-sizing: border-box;
}

.header-box {
	margin: 0 auto;
	width: 1440px;
	height: 78px;
}

.site-logo {
	height: 56px;
	width: 235px;
	margin: 20px 0 0 20px;
	display: inline-block;
}

.logo-image {
	height: 100%;
	width: 56px;
}

.logo-name {
	color: #000000;
	font-family: Adamina;
	font-size: 30px;
	font-weight: 400;
	margin: 0px 0px 0px 9px;
	display: inline-block;
	position: relative;
	bottom: 15px;
	letter-spacing: 0px;
}

.search-form {
	background-color: white;
	height: 50px;
	width: 548px;
	display: inline-block;
	position: relative;
	bottom: 16px;
	margin-left: 49px; 
	background-color: #fbfbfb;
}

.search-field {
	font-family: Montserrat;
	width: calc(100% - 3px);
	height: 100%;
	border-radius: 25px;
	border: 1px solid #bbbbbb;
	padding: 3px 0 0 25px;
	box-sizing: border-box;
	font-size: 22px;
	transition: border 0.25s ease-in-out; 
}

.search-submit-button {
	border: none;
	width: 50px;
	height: 100%;
	margin: 13px 0 0 0;
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: -13px;
	background-color: white;
	background-image: url(images/search-submit-button-image.svg); 
	background-size: 47%;
	background-repeat: no-repeat;
	background-position: 9px 13px;
	border-radius: 0 25px 25px 0;
	border: 1px solid #bbbbbb;
	border-left: 0;
	transition: border 0.25s ease-in-out; 
}

.search-field:focus, .search-field:focus + .search-submit-button {
	outline: none;
    border-color: #66dcac;
}

.user-account-button {
	padding: 0;
	margin: 0;
	display: inline-block;
	border: 1px solid #bbbbbb;
	background-color: white;
	border-radius: 25px;
	height: 50px;
	width: 264px;
	position: relative;
	bottom: 10px;
	left: 305px;
	cursor: pointer;
}

.user-account-button:focus {
    outline: none;
}

.user-icon {
	background-color: red;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	position: relative;
	left: 77px;
	top: 3px;
}

.user-name {
	position: relative;
	right: 69px;
	bottom: 8px;
	color: #000000;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
}

main {
	width: 1440px;
	margin: 0 auto;
	position: relative;
	bottom: 2px;
	display: flex;
}

.navigation-menu {
	width: 170px;
	margin: 50px 0 0 23px;
}

.navigation-menu ul {
	padding: 0;
	margin: 0 0 27px 0;
}

.navigation-menu ul li a {
	text-decoration: none;
	background-color: #fbfbfb;
	box-sizing: border-box;
	font-size: 16px;
	font-family: Rubik;
	font-weight: 400;
	height: 16px;
	padding: 0px;
}

.navigation-menu ul li {
	height: 16px;
	list-style-type: none;
	margin: 0 0 18px 0;
}

.arcticle-control-list li a {
	color: #1f72ad;
}

.tree-navigation-list li a {
	color: #006c40;
}

.content {
	width: 832px;
	height: 100%;
	padding: 35px 0 0 0;
	margin: 0 0 50px 111px;
}

.content h1 {
	margin: 0 0 12px 0;
	font-size: 64px;
	line-height: 79px;
	font-weight: 100;
	font-stretch: ultra-condensed;
	font-family: Montserrat;
}

.content h2 {
	margin: 0 0 23px 0;
	font-size: 36px;
	line-height: 50px;
	font-family: Montserrat;
	font-weight: 300;
}

.content h3 {
	margin: 0 0 23px 0;
	font-size: 24px;
	line-height: 29px;
	font-family: Rubik;
	font-weight: 500;
}

.control-buttons {
	position: absolute;
	right: 304px;
	top: 53px;
}

.control-buttons a {
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 0;
	cursor: pointer;
	background-color: #fbfbfb; 
	background-repeat: no-repeat;
	background-size: contain;
	box-sizing: border-box;
}

.edit-article-button {
	background-image: url(images/edit-button-image.svg);
}

.link-button {
	background-image: url(images/link-button-image.svg);
	margin: 0 7px 0 7px;
}

.changes-history-button {
	background-image: url(images/changes-history-button-image.svg);
}

.content p {
	margin: 0 0 23px 0;
	font-family: Rubik;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

.person-card {
	width: 264px;
	border: 1px solid #bbbbbb;
	float: right;
	margin: 92px 0 0 20px;
	box-sizing: border-box;
	border-radius: 25px;
}

.person-photo {
	width: 100%;
	border-radius: 25px 25px 0 0;
	background-color: #66dcac;
}

.person-info {
	width: 100%;
	border-radius: 0 0 25px 25px;
}

.life-years {
	display: block;
	text-align: center;
	margin: 20px 0 0 0;
	color: #3a3a3a;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
}

.person-card-row {
	display: block;
	margin: 16px 0 0 0;
	padding: 0 0 0 21px;
}

.person-card-row-name {
	color: #000000;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.row-value, .row-value a, .table-of-contents li {
	color: #006c40;
	font-family: Rubik;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-decoration: none;
}

.person-card-row:nth-child(2) a {
	padding: 0 0 0 7px;
}

.children-list, .marriage-list {
	margin: 0;
	list-style-type: none;
	padding: 0 0 0 22px;
}

.marriage-period {
	color: #000000;
	font-family: Rubik;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	display: inline-block;
	margin-left: 5px;
}

.button {
	height: 40px;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 500;
	color: #ffffff;
	border: 0;
	padding: 0;
	border-radius: 25px;
	cursor: pointer;
}

.primary {
	width: 223px;
	background-color: #41b883;
	margin: 15px 0 17px 20px;
}

.image-right {
	display: block;
	width: 315px;
	float: right;
	margin: 0 0 10px 26px;
}

.image-left {
	display: block;
	width: 315px;
	float: left;
	margin: 0 26px 10px 0;
}

.image-center-big {
	width: 100%;
	margin: 0 0 32px 0;
	display: block;
}

.image-center-medium {
	display: block;
	width: 350px;
	margin: 0 auto 32px auto;
}

.gallery {
	display: flex;
	justify-content: space-around;
	padding: 19px;
	margin: 0 0 32px 0;
}

.gallery img {
	display: inline-block;
	width: 222px;
	height: 250px;
}

.table-of-contents {
	margin: 42px 0 140px 0;
}

.table-of-contents > h2 {
	margin: 0 0 25px 0;
}

.table-of-contents ul {
	list-style-type: none;
	padding: 0 0 0 33px;
}

.table-of-contents li {
	margin-bottom: 15px;
}

.table-of-contents ul a {
	text-decoration: none;
	color: #006c40;;
}

.table-of-contents ul ul {
	padding: 0 0 0 12px;
}